@import 'responsive.scss';

$color-primary: #59faec;
$color-primary-70: rgb(89 250 236 / 70%);
$color-primary-50: rgb(89 250 236 / 50%);
$color-secondary: #a1a1a1;

.portfolio-app {
  text-align: center;
  font-size: 16px;
  color: $color-primary;
  height: 100vh;

  @include mobile {
    height: 100%;
  }

  hr {
    color: $color-secondary;
  }
}

.column {
  flex: 1 0;
}

.loading {
  margin-top: 10px;
  width: 100%;
  height: 8px;
  background-color: black;

  .loading-bar {
    height: 100%;
    background-color: $color-primary;
  }

  .loading-label {
    text-align: center;
    font-size: 10px;
    padding: 5px;
  }
}

.portfolio {
  height: 100%;

  .side-info {
    cursor: default;
    height: 100%;
    background-color: rgb(59 67 69 / 38%);
    max-width: 300px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;

    @include mobile {
      max-width: 100%;
    }

    @include mobile-small {
      margin-left: 5px;
      margin-right: 5px;
    }

    .top {
      background-color: rgb(33 39 41 / 29%);
      padding: 15px 0;
    }

    .avatar-container {
      height: 100px;
      width: 100%;

      .thumbnail {
        width: 100px;
      }
    }

    .social {
      display: flex;
      justify-content: space-around;
      position: absolute;
      align-items: center;
      font-size: 25px;
      bottom: 0;
      left: 0;
      height: 40px;
      width: 100%;
      background-color: rgba(79, 111, 107, 0.36);

      @include mobile {
        bottom: unset;
      }

      a {
        text-decoration: none;
        margin: 0 10px;
        cursor: pointer;
        color: inherit;
      }

      .cv {
        border: 0;
        height: 30px;
        background-color: transparent;

        :hover {
          color: $color-primary
        }

        i {
          padding: 0 5px;
        }
      }
    }

    .contact {
      color: $color-secondary;
      text-align: left;
      font-size: 14px;

      div {
        padding: 2px 10px;
      }

      i {
        margin-right: 10px;
        font-size: 16px;
        color: $color-primary;
      }
    }

    .skills {
      margin-top: 10px;
      font-size: 14px;
      color: $color-secondary;

      &-container {
        padding: 5px 10px;
      }

      .label {
        display: flex;
        justify-content: space-between;
      }

      .percentage {
        display: flex;
        height: 5px;
        background-color: black;

        :hover {
          box-shadow: 0 3px 10px 2px $color-primary;
        }

        .line {
          background-color: $color-primary;
        }
      }
    }

    .other-skills {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      padding: 10px;

      .other-skill {
        display: flex;
        width: 50%;

        i {
          color: $color-primary;
          margin: 5px 5px 0 0;
        }
      }
    }

    .education {
      padding: 0 10px; // Common
      font-size: 14px; // Common
      text-align: left; // Common

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .awards {
      padding: 0 10px; // Common
      color: $color-secondary;
      font-size: 14px; // Common
      text-align: left; // Common

      i {
        margin-right: 10px;
        font-size: 8px;
        color: $color-primary;
      }
    }
  }

  .main-info {
    height: 100%;
    background-color: rgb(59 67 69 / 38%);
    margin-left: 20px;
    margin-right: 20px;

    @include mobile {
      margin-top: 50px;
    }

    @include mobile-small {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.bg {
  &.dark {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.label {
  &.main {
    color: white;
  }

  &.sub {
    font-size: 12px;
    color: $color-secondary;
  }
}

.color {
  &.primary {
    color: $color-primary;
  }

  &.secondary {
    color: $color-secondary;
  }
}

.avatar {
  .img-container {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 50%;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;

    :hover {
      opacity: 0.9;
    }
  }
}

.text-hover {
  :hover {
    opacity: 0.7;
  }
}

.profile-card {
  .name {
    font-size: 20px;
  }
}

.scroll-component {
  -ms-overflow-style: none; // IE
  scrollbar-width: none; // firefox
  overflow-y: scroll;
  height: calc(100% - 290px);
  margin-bottom: 10px;

  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  &.side {
    height: calc(100% - 290px);
  }

  &.main {
    height: calc(100% - 210px);
  }
}

.profile-main {
  height: 100%;

  .banner-container {
    background-size: cover;
    height: 200px;
    width: 100%;

    .photo {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        min-height: 100%;
        width: 100%;
        object-fit: cover;
        max-height: 100%;
        opacity: 0.3;
      }
    }

    .info {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;

      .name {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 700;

        @include mobile-small {
          font-size: 20px;
        }
      }

      .position {
        margin: 0 auto;
        font-size: 15px;
        color: white;
        font-weight: 600;
        background: rgba(19, 19, 19, 61%);
        padding: 0 10px;
        width: fit-content;

        @include mobile-small {
          font-size: 12px;
        }
      }

      .overview {
        margin-top: 20px;
        color: $color-secondary;
        background-color: rgba(19, 19, 19, 61%);
        font-size: 14px;
        padding: 10px 20px;

        @include mobile-small {
          font-size: 12px;
        }
      }
    }
  }

  .experience-container {
    padding: 10px 0 10px 50px;

    @include mobile-small {
      padding-left: 20px;
    }
  }

}

// Professional experience
.professional-experience {
  margin-bottom: 25px;

  .projects-container {
    padding: 5px 0;
    margin-left: 30px;
  }
}

// Company
.company-banner {
  color: $color-secondary;
  width: 100%;
  margin: 15px 0;

  .banner-container {
    position: relative;
    height: unset;

    .header {
      background-color: rgb(33 39 41 / 85%);
      border-top: solid 1px $color-primary-50;
      border-bottom: solid 1px $color-primary-50;
      display: flex;
      width: 100%;

      .logo {
        height: auto;
        max-width: 50px;
        max-height: 50px;
        margin: -10px 10px 0 10px;

        .img-container {
          background-color: #fff;
          color: rgba(0, 0, 0, 0.87);
          border-radius: 50%;
          overflow: hidden;
          margin: 0 auto;
          min-width: 30px;
          min-height: 30px;

          img {
            width: 100%;
          }

          :hover {
            opacity: 0.9;
          }
        }
      }
    }

    .header-details {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;

      @include mobile-small {
        padding: 0;
      }

      .company {
        text-align: left;
        display: flex;
        align-items: baseline;

        @include mobile-small {
          display: block;
        }

        .name {
          color: $color-primary;
          font-size: 25px;

          @include mobile-small {
            font-size: 20px;
          }

          a {
            text-decoration: none;
            color: inherit;
          }

          :hover {
            opacity: 0.7;
          }
        }

        .address {
          color: white;
          margin-left: 10px;
          font-size: 12px;
          font-style: italic;

          @include mobile-small {
            margin-left: 0;
            font-size: 11px;
          }
        }
      }

      .position {
        text-align: right;
        display: flex;
        padding: 5px;
        font-size: 14px;
        align-items: baseline;

        @include mobile-small {
          font-size: 12px;
          display: block;
        }
      }

      .title {
        color: $color-primary;
      }

      .duration {
        margin-left: 5px;
        font-size: 12px;
        font-style: italic;
        color: white;

        @include mobile-small {
          font-size: 11px;
        }
      }
    }
  }

  .company-details {
    text-align: left;
    font-size: 13px;
    padding: 5px 20px 20px 20px;
    background-color: rgb(33 39 41 / 29%);
  }
}

// PROJECT
.project-banner {
  color: $color-secondary;
  width: 100%;
  margin: 15px 0;

  .banner-container {
    position: relative;
    height: unset;
    padding-bottom: 15px;
    border-bottom: dashed 1px;

    .header {
      background-color: rgb(33 39 41 / 85%);
      display: flex;
      width: 100%;
      padding: 2px 0;

      .logo {
        height: auto;
        max-width: 35px;
        max-height: 35px;
        margin: 5px 10px;

        .img-container {
          background-color: #fff;
          color: rgba(0, 0, 0, 0.87);
          border-radius: 50%;
          overflow: hidden;
          margin: 0 auto;
          min-width: 20px;
          min-height: 20px;

          img {
            width: 100%;
          }

          :hover {
            opacity: 0.9;
          }
        }
      }
    }

    .header-details {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;

      .company {
        text-align: left;
        align-items: baseline;

        .name {
          color: white;
          font-size: 20px;

          @include mobile-small {
            font-size: 16px;
          }

          a {
            text-decoration: none;
            color: inherit;
          }

          :hover {
            opacity: 0.7;
          }
        }

        .address {
          color: $color-secondary;
          margin-top: -5px;
          font-size: 12px;
          font-style: italic;
        }
      }

      .skills-details {
        text-align: right;
        padding: 5px;
        font-size: 12px;
        align-items: baseline;
      }

      .skills {
        font-size: 12px;
        color: white;
      }

      .duration {
        margin-left: 5px;
        font-size: 12px;
        font-style: italic;

        @include mobile-small {
          font-size: 11px;
        }
      }
    }
  }

  .project-details {
    text-align: left;
    font-size: 13px;
    padding: 5px 20px 20px 20px;
    background-color: rgb(33 39 41 / 29%);
  }
}

.responsibilities {
  text-align: left;
  font-size: 11px;
  background: rgb(77 77 77 / 20%);
  padding: 5px 0;

  ul {
    margin: 0;
  }

  li::marker {
    color: $color-primary;
  }
}

.skill-list {
  display: flex;
  margin-left: -10px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.skill-item {
  font-size: 11px;
  float: left;
  position: relative;
  margin: 2px 5px;
  padding: 2px;
  background-color: #13797d63;
  height: 23px;
  color: $color-primary-70;
}

.skill-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-width: 11px 0 11px 7px;
  border-style: solid;
  border-color: transparent transparent transparent #13797d63; // TODO common
  height: 100%;
}

.skill-item + .skill-item {
  margin-left: 0.75em;
}

.skill-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  border-width: 11px 0 11px 7px;
  border-style: solid;
  border-color: #13797d63 #13797d63 #13797d63 transparent; // TODO color
  height: 100%;
}

.project-label-container {
  margin-bottom: -10px;
}

.ribbon-label {
  width: 120px;
  font-weight: 500;
  font-size: 12px;
  position: relative;
  margin-right: 5px;
  padding: 4px;
  background-color: $color-primary-70;
  height: 24px;
  color: black;
}

.ribbon-label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-width: 12px 0 12px 10px;
  border-style: solid;
  border-color: transparent transparent transparent $color-primary-70;
  height: 100%;
}

// TIMELINE
.timeline {
  position: relative;

  .timeline-container {
    margin-bottom: 30px;
  }

  .timeline-container:last-child {
    margin-bottom: 0;
  }

  .item::after {
    left: -32px;

    @include mobile-small {
      left: -20px;
    }
  }
}

.timeline::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: $color-primary-50;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: -25px;

  @include mobile-small {
    margin-left: -12px;
  }
}

.timeline-container {
  position: relative;

  .professional-experience:last-child {
    margin-bottom: 0;
  }
}

.timeline-container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 4px solid #3bbfb3;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
