$color-primary: #4ac4c4;

.App {
  text-align: center;
}

.bg-dark {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.font-color {
  &.primary {
    color: $color-primary;
  }
}

.profile-card {
 .container {
   background-color: #fff;
   color: rgba(0, 0, 0, 0.87);
   border-radius: 50%;
   overflow: hidden;
   max-width: 200px;
   max-height: 200px;
 }
}


